<h1 class="mat-font-headline-lg">Typography</h1>

<div class="titles">
    <div></div>
    <div class="mat-font-display-lg">57px mat-font-display-lg</div>
    <div></div>
    <div class="mat-font-display-md">45px mat-font-display-md</div>
    <div></div>
    <div class="mat-font-display-sm">36px mat-font-display-sm</div>
    <div></div>
    <div class="mat-font-headline-lg">32px mat-font-headline-lg</div>
    <div></div>
    <div class="mat-font-headline-md">28px mat-font-headline-md</div>
    <h1>h1</h1>
    <div class="mat-font-headline-sm">24px mat-font-headline-sm</div>
    <h2>h2</h2>
    <div class="mat-font-title-lg">22px mat-font-title-lg</div>
    <h3>h3</h3>
    <div class="mat-font-title-md">16px mat-font-title-md</div>
    <div></div>
    <div class="mat-font-title-sm">14px mat-font-title-sm</div>
    <h4>h4</h4>
    <div class="mat-font-body-lg">16px mat-font-body-lg</div>
    <h5>h5</h5>
    <div class="mat-font-body-md">14px mat-font-body-md</div>
    <h6>h6</h6>
    <div class="mat-font-body-sm">12px mat-font-body-sm</div>
</div>

<h1 class="mat-font-headline-lg">Margins and <code>.nat-margin-standard</code></h1>
<div class="margins">
    <div>
        <div class="mat-font-headline-sm">Default</div>

        <div class="sample">
            <h1>h1 h1 h1 h1 h1</h1>
            <h2>h2 h2 h2 h2 h2</h2>
            <h3>h3 h3 h3 h3 h3</h3>
            <h4>h4 h4 h4 h4 h4</h4>
            <h5>h5 h5 h5 h5 h5</h5>
            <h6>h6 h6 h6 h6 h6</h6>
            <p
                >para para para para para para para para para para para para para para para para para para para para
                para para para para para para para para</p
            >
            <p
                >para para para para para para para para para para para para para para para para para para para para
                para para para para para para para para</p
            >
            <p
                >para para para para para para para para para para para para para para para para para para para para
                para para para para para para para para</p
            >
        </div>
    </div>

    <div>
        <div class="mat-font-headline-sm">On individual element</div>

        <div class="sample">
            <h1 class="nat-margin-standard">h1 h1 h1 h1 h1</h1>
            <h2 class="nat-margin-standard">h2 h2 h2 h2 h2</h2>
            <h3 class="nat-margin-standard">h3 h3 h3 h3 h3</h3>
            <h4 class="nat-margin-standard">h4 h4 h4 h4 h4</h4>
            <h5 class="nat-margin-standard">h5 h5 h5 h5 h5</h5>
            <h6 class="nat-margin-standard">h6 h6 h6 h6 h6</h6>
            <p class="nat-margin-standard"
                >para para para para para para para para para para para para para para para para para para para para
                para para para para para para para para</p
            >
            <p class="nat-margin-standard"
                >para para para para para para para para para para para para para para para para para para para para
                para para para para para para para para</p
            >
            <p class="nat-margin-standard"
                >para para para para para para para para para para para para para para para para para para para para
                para para para para para para para para</p
            >
        </div>
    </div>

    <div>
        <div class="mat-font-headline-sm">On parent element</div>

        <div class="sample nat-margin-standard">
            <h1>h1 h1 h1 h1 h1</h1>
            <h2>h2 h2 h2 h2 h2</h2>
            <h3>h3 h3 h3 h3 h3</h3>
            <h4>h4 h4 h4 h4 h4</h4>
            <h5>h5 h5 h5 h5 h5</h5>
            <h6>h6 h6 h6 h6 h6</h6>
            <p
                >para para para para para para para para para para para para para para para para para para para para
                para para para para para para para para</p
            >
            <p
                >para para para para para para para para para para para para para para para para para para para para
                para para para para para para para para</p
            >
            <p
                >para para para para para para para para para para para para para para para para para para para para
                para para para para para para para para</p
            >
        </div>
    </div>
</div>
