<div class="nat-vertical nat-gap">
    <div class="mat-font-display-lg">57px mat-font-display-lg</div>
    <div class="mat-font-display-md">45px mat-font-display-md</div>
    <div class="mat-font-display-sm">36px mat-font-display-sm</div>
    <div class="mat-font-headline-lg">32px mat-font-headline-lg</div>
    <div class="mat-font-headline-md">28px mat-font-headline-md</div>
    <div class="mat-font-headline-sm">24px mat-font-headline-sm</div>
    <div class="mat-font-title-lg">22px mat-font-title-lg</div>
    <div class="mat-font-title-md">16px mat-font-title-md</div>
    <div class="mat-font-title-sm">14px mat-font-title-sm</div>
    <div class="mat-font-body-lg">16px mat-font-body-lg</div>
    <div class="mat-font-body-md">14px mat-font-body-md</div>
    <div class="mat-font-body-sm">12px mat-font-body-sm</div>
</div>
