<h1 class="mat-font-headline-lg">natural-select-enum</h1>

<div class="nat-vertical nat-gap-30">
    <div class="nat-horizontal nat-wrap nat-gap-10">
        <button mat-raised-button (click)="validateAllFormControls()">Validate all controls</button>
        <button mat-raised-button (click)="toggleDisabledAllFormControls()">Disable all controls</button>
        <button mat-raised-button (click)="setValue()">Set value</button>
        <button mat-raised-button (click)="clearValue()">Clear value</button>
    </div>

    <h2 class="mat-h2 nat-gap-10 nat-horizontal nat-left nat-center">
        <div>ngModel</div>
        <button mat-raised-button (click)="required = true">required</button>
        <button mat-raised-button (click)="required = false">optional</button>
    </h2>
    <div class="nat-horizontal nat-gap-10">
        <div>
            <natural-select-enum
                enumName="FooEnum"
                placeholder="Without model (output only)"
                (selectionChange)="withoutModelOutput = $event"
            />
            <pre class="debug">value: {{ withoutModelOutput | json }}</pre>
        </div>

        <natural-select-enum
            enumName="FooEnum"
            placeholder="Input from previous output"
            [ngModel]="withoutModelOutput"
        />

        <natural-select-enum enumName="FooEnum" placeholder="Without model, required" [required]="required" />

        <div>
            <natural-select-enum
                enumName="FooEnum"
                placeholder="With model, required"
                [required]="required"
                [disabled]="disabled"
                [(ngModel)]="myValue"
            />

            <pre class="debug">value: {{ myValue | json }}</pre>
        </div>
    </div>

    <h2 class="mat-h2">FormControl</h2>
    <div class="nat-horizontal nat-gap-10">
        <div>
            <natural-select-enum enumName="FooEnum" placeholder="FormControl (update)" [formControl]="formControl" />
            <app-debug-control [control]="formControl" />
        </div>

        <div>
            <natural-select-enum
                enumName="FooEnum"
                placeholder="FormControl (replace)"
                [formControl]="formControlReplace"
            />
            <app-debug-control [control]="formControlReplace" />
        </div>

        <div>
            <natural-select-enum
                enumName="FooEnum"
                placeholder="Always invalid"
                error="Custom error message"
                [formControl]="alwaysInvalidFormControl"
            />
            <app-debug-control [control]="alwaysInvalidFormControl" />
        </div>
    </div>

    <h2 class="mat-h2">FormGroup</h2>
    <div class="nat-horizontal nat-gap-10">
        <div>
            <div class="form-group" [formGroup]="formGroup">
                <natural-select-enum
                    enumName="FooEnum"
                    formControlName="amazingField"
                    placeholder="FormGroup (update)"
                />
            </div>
            <app-debug-control [control]="formGroup" />
        </div>
        <div>
            <div class="form-group" [formGroup]="formGroupReplace">
                <natural-select-enum
                    enumName="FooEnum"
                    formControlName="amazingField"
                    placeholder="FormGroup (replace)"
                />
            </div>

            <app-debug-control [control]="formGroupReplace" />
        </div>
    </div>

    <h2 class="mat-h2">Others</h2>
    <natural-select-enum
        enumName="myEnum"
        placeholder="Disabled option with formControl"
        [formControl]="formControl"
        [optionDisabled]="optionDisabled"
    />

    <natural-select-enum
        enumName="myEnum"
        placeholder="Multiple options with formControlMultiple"
        [formControl]="formControlMultiple"
        [multiple]="true"
    />
    <app-debug-control [control]="formControlMultiple" />

    <div style="width: 250px">
        <natural-select-enum
            enumName="myEnum"
            hint="My long hint text goes here and keep getting longer and will wrap"
        />
        <div>This text is pushed down by mat-hint</div>
    </div>
</div>
