/**
This is the single public entry point for the lib
So Natural styles can be imported into an application like so:

```
@use '@ecodev/natural';
```
 */

@forward '../src/lib/natural' show natural, $typography;
