<h1 class="mat-headline-4">natural-relations</h1>
<div class="mat-body-2"
    >Use ItemService.watchAll() that always returns 5 elements. Seems to be buggy but it's normal.
</div>

@if (isUpdatePage()) {
    <div class="nat-horizontal" [formGroup]="form">
        <div>
            <div class="mat-headline-6">Hierarchic selector</div>
            <natural-relations
                placeholder="Link"
                [hierarchicSelectorConfig]="hierarchicConfig"
                [main]="data.model"
                [service]="service"
                (selectionChange)="relationsAdded('Hierarchic selector')"
            />
        </div>
        <div>
            <div class="mat-headline-6">Service</div>
            <natural-relations
                placeholder="Link"
                [main]="data.model"
                [service]="service"
                (selectionChange)="relationsAdded('Service')"
            />
        </div>
        <div>
            <div class="mat-headline-6">No result service</div>
            <natural-relations
                placeholder="Link"
                [main]="data.model"
                [service]="noResultService"
                (selectionChange)="relationsAdded('NoResultService')"
            />
        </div>
        <div>
            <div class="mat-headline-6">ErrorService</div>
            <natural-relations
                placeholder="Link"
                [main]="data.model"
                [service]="errorService"
                (selectionChange)="relationsAdded('ErrorService')"
            />
        </div>
    </div>
}
