<h1 class="mat-font-headline-lg">natural-relations</h1>
<div class="nat-bold"
    >Use ItemService.watchAll() that always returns 5 elements. Seems to be buggy but it's normal.
</div>

@if (isUpdatePage()) {
    <div class="nat-vertical nat-left nat-gap-30" [formGroup]="form">
        <div class="item">
            <h2 class="mat-headline-1">Hierarchic selector</h2>
            <natural-relations
                placeholder="Link"
                [hierarchicSelectorConfig]="hierarchicConfig"
                [main]="data.model"
                [service]="service"
                (selectionChange)="relationsAdded('Hierarchic selector')"
            />
        </div>
        <div class="item">
            <h2 class="mat-font-headline-sm">Service</h2>
            <natural-relations
                placeholder="Link"
                [main]="data.model"
                [service]="service"
                (selectionChange)="relationsAdded('Service')"
            />
        </div>
        <div class="item">
            <h2>No result service</h2>
            <natural-relations
                placeholder="Link"
                [main]="data.model"
                [service]="noResultService"
                (selectionChange)="relationsAdded('NoResultService')"
            />
        </div>
        <div class="item">
            <h2>ErrorService</h2>
            <natural-relations
                placeholder="Link"
                [main]="data.model"
                [service]="errorService"
                (selectionChange)="relationsAdded('ErrorService')"
            />
        </div>
    </div>
}
