<h1 class="mat-font-headline-lg">NaturalAbstractNavigableList</h1>

@if (dataSource) {
    <div class="nat-expand nat-vertical">
        <div class="nat-vertical">
            <div class="nat-horizontal nat-wrap">
                @for (item of breadcrumbs; track item.id) {
                    <a class="nat-no-padding" mat-button [routerLink]="getChildLink(item)">
                        <mat-icon naturalIcon="chevron_right" />
                        <span>{{ item.name }}</span>
                    </a>
                }
            </div>
            <div class="nat-margin-vertical nat-horizontal" overflow>
                <natural-search
                    class="nat-expand"
                    [facets]="naturalSearchFacets"
                    [multipleGroups]="true"
                    [selections]="naturalSearchSelections"
                    (selectionChange)="search($event)"
                >
                    <natural-columns-picker
                        [availableColumns]="availableColumns"
                        [selections]="selectedColumns"
                        (selectionChange)="selectColumns($event)"
                    />
                </natural-search>
            </div>
            <div class="responsive-table">
                <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sorting([$event])">
                    <tr *matHeaderRowDef="columnsForTable" mat-header-row></tr>
                    <tr *matRowDef="let row; columns: columnsForTable" mat-row></tr>

                    <ng-container matColumnDef="select">
                        <th *matHeaderCellDef mat-header-cell class="natural-3em-column">
                            <mat-checkbox
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                (change)="$event ? masterToggle() : null"
                            />
                        </th>
                        <td *matCellDef="let row" mat-cell>
                            <mat-checkbox
                                [checked]="selection.isSelected(row.item)"
                                (change)="$event ? selection.toggle(row.item) : null"
                                (click)="$event.stopPropagation()"
                            />
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="navigation">
                        <th *matHeaderCellDef mat-header-cell class="natural-3em-column"></th>
                        <td *matCellDef="let element" mat-cell>
                            @if (element.hasNavigation) {
                                <natural-table-button
                                    icon="chevron_right"
                                    matTooltip="Show children"
                                    [navigate]="getChildLink(element.item)"
                                />
                            }
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="id">
                        <th *matHeaderCellDef mat-header-cell class="natural-3em-column">id</th>
                        <td *matCellDef="let element" mat-cell>{{ element.item.id }}</td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>name</th>
                        <td *matCellDef="let element" mat-cell>{{ element.item.name }}</td>
                    </ng-container>

                    <ng-container matColumnDef="description">
                        <th
                            *matHeaderCellDef
                            mat-header-cell
                            class="natural-align-right"
                            arrowPosition="before"
                            mat-sort-header
                            >description</th
                        >
                        <td *matCellDef="let element" mat-cell class="natural-align-right">{{
                            element.item.description
                        }}</td>
                    </ng-container>
                </table>
            </div>
            @if (dataSource.data?.length === 0) {
                <div class="nat-margin nat-center nat-vertical"> Pas de résultats </div>
            }
            @if (!dataSource.data) {
                <div class="nat-margin nat-center nat-vertical">
                    <mat-progress-spinner mode="indeterminate" [diameter]="40" />
                </div>
            }
            <mat-paginator
                [length]="dataSource.data?.length"
                [pageIndex]="dataSource.data?.pageIndex"
                [pageSizeOptions]="pageSizeOptions"
                [pageSize]="dataSource.data?.pageSize"
                (page)="pagination($event)"
            />
        </div>
        <div class="nat-horizontal nat-gap">
            <pre class="debug" style="overflow: auto">columnsForTable : {{ columnsForTable | json }}</pre>
            <pre class="debug" style="overflow: auto">selectedColumns : {{ selectedColumns | json }}</pre>
            <pre class="debug nat-expand" style="overflow: auto">
variables : {{ variablesManager.variables.value | json }}</pre
            >
            <pre class="debug nat-expand" style="overflow: auto">row selection : {{ selection.selected | json }}</pre>
        </div>
    </div>
}
