<h1 class="mat-headline-4">natural-select-hierarchic</h1>

<div class="nat-vertical nat-gap-30">
    <div class="nat-horizontal nat-wrap nat-gap-10">
        <button mat-raised-button (click)="validateAllFormControls()">Validate controls with formControl</button>
        <button mat-raised-button (click)="toggleDisabledAllFormControls()">Disable controls with formControl</button>
        <button mat-raised-button (click)="setValue()">Set value</button>
        <button mat-raised-button (click)="clearValue()">Clear value</button>
    </div>

    <h2 class="mat-h2 nat-gap-10 nat-horizontal nat-left nat-center">
        <div>ngModel</div>
        <button mat-raised-button (click)="required = true">required</button>
        <button mat-raised-button (click)="required = false">optional</button>
    </h2>
    <div class="nat-horizontal nat-gap-10">
        <div>
            <natural-select-hierarchic
                placeholder="Without model (output only)"
                [config]="hierarchicConfig"
                (selectionChange)="withoutModelOutput = $any($event)"
            />
            <pre class="debug">value: {{ withoutModelOutput | json }}</pre>
        </div>

        <natural-select-hierarchic
            placeholder="Input from previous output"
            [config]="hierarchicConfig"
            [ngModel]="withoutModelOutput"
        />

        <natural-select-hierarchic
            placeholder="Without model, required"
            [config]="hierarchicConfig"
            [required]="required"
        />

        <div>
            <natural-select-hierarchic
                placeholder="With model, required"
                [config]="hierarchicConfig"
                [required]="required"
                [disabled]="disabled"
                [(ngModel)]="myValue"
            />

            <pre class="debug">value: {{ myValue | json }}</pre>
        </div>
    </div>

    <h2 class="mat-h2">FormControl</h2>
    <div class="nat-horizontal nat-gap-10">
        <div>
            <natural-select-hierarchic
                placeholder="FormControl (update)"
                [config]="hierarchicConfig"
                [formControl]="formControl"
            />
            <button mat-raised-button (click)="updateValidatorRequired(formControl)">required</button>
            <button mat-raised-button (click)="updateValidatorOptional(formControl)">optional</button>
            <app-debug-control [control]="formControl" />
        </div>

        <div>
            <natural-select-hierarchic
                placeholder="FormControl (replace)"
                [config]="hierarchicConfig"
                [formControl]="formControlReplace"
            />
            <app-debug-control [control]="formControlReplace" />
        </div>

        <div>
            <natural-select-hierarchic
                placeholder="Always invalid"
                error="Custom error message"
                [config]="hierarchicConfig"
                [formControl]="alwaysInvalidFormControl"
            />
            <app-debug-control [control]="alwaysInvalidFormControl" />
        </div>
    </div>

    <h2 class="mat-h2">FormGroup</h2>
    <div class="nat-horizontal nat-gap-10">
        <div>
            <div class="form-group" [formGroup]="formGroup">
                <natural-select-hierarchic
                    formControlName="amazingField"
                    placeholder="FormGroup (update)"
                    [config]="hierarchicConfig"
                />
            </div>
            <button mat-raised-button (click)="updateValidatorRequired(formGroup.get('amazingField')!)"
                >required
            </button>
            <button mat-raised-button (click)="updateValidatorOptional(formGroup.get('amazingField')!)"
                >optional
            </button>
            <app-debug-control [control]="formGroup" />
        </div>
        <div>
            <div class="form-group" [formGroup]="formGroupReplace">
                <natural-select-hierarchic
                    formControlName="amazingField"
                    placeholder="FormGroup (replace)"
                    [config]="hierarchicConfig"
                />
            </div>

            <app-debug-control [control]="formGroupReplace" />
        </div>
    </div>

    <h2 class="mat-h2">Others</h2>
    <div class="nat-horizontal nat-gap-10">
        <mat-form-field>
            <mat-label>Prétext</mat-label>
            <input matInput />
            <mat-hint>Basic input field to test alt+tab and focus on next field</mat-hint>
        </mat-form-field>

        <natural-select-hierarchic navigateTo="/" placeholder="With navigateTo" [config]="hierarchicConfig" />

        <natural-select-hierarchic icon="pets" placeholder="With custom icon" [config]="hierarchicConfig" />

        <natural-select-hierarchic
            clearLabel="Unselect"
            selectLabel="Select something"
            placeholder="With select and clear label"
            [config]="hierarchicConfig"
        />

        <div style="width: 250px">
            <natural-select-hierarchic
                hint="My long hint text goes here and keep getting longer and will wrap"
                [config]="hierarchicConfig"
            />
            <div>This text is pushed down by mat-hint</div>
        </div>
    </div>
</div>
