<h1 class="mat-font-headline-lg">natural-select</h1>

<div class="nat-vertical nat-gap-30">
    <div class="nat-horizontal nat-wrap nat-gap-10">
        <button mat-raised-button (click)="validateAllFormControls()">Validate controls with formControl</button>
        <button mat-raised-button (click)="toggleDisabledAllFormControls()">Disable controls with formControl</button>
        <button mat-raised-button (click)="setValue()">Set value</button>
        <button mat-raised-button (click)="clearValue()">Clear value</button>
    </div>

    <h2 class="mat-h2 nat-gap-10 nat-horizontal nat-left nat-center">
        <div>ngModel</div>
        <button mat-raised-button (click)="required = true">required</button>
        <button mat-raised-button (click)="required = false">optional</button>
    </h2>
    <div class="nat-horizontal nat-gap-10">
        <div>
            <!-- Never used in our projects (?), but could be usefull to pick value with (selectionChange) event only -->
            <natural-select
                placeholder="Without model (output only)"
                [service]="service"
                (selectionChange)="withoutModelOutput = $event"
            />
            <pre class="debug">value: {{ withoutModelOutput | json }}</pre>
        </div>

        <natural-select placeholder="Input from previous output" [service]="service" [ngModel]="withoutModelOutput" />

        <!-- Never used in our projects (?), but could be usefull to pick value with (selectionChange) event only -->
        <natural-select placeholder="Without model, required" [service]="service" [required]="required" />

        <div>
            <natural-select
                placeholder="With model, required"
                [service]="service"
                [required]="required"
                [disabled]="disabled"
                [(ngModel)]="myValue"
            />
            <pre class="debug">value: {{ myValue | json }}</pre>
        </div>
    </div>

    <h2 class="mat-h2">FormControl</h2>
    <div class="nat-horizontal nat-gap-10">
        <div>
            <natural-select
                id="test-select"
                placeholder="FormControl (update)"
                [service]="service"
                [formControl]="formControl"
            />
            <button mat-raised-button (click)="updateValidatorRequired(formControl)">required</button>
            <button mat-raised-button (click)="updateValidatorOptional(formControl)">optional</button>
            <app-debug-control [control]="formControl" />
        </div>

        <div>
            <natural-select
                placeholder="FormControl (replace)"
                [service]="service"
                [formControl]="formControlReplace"
            />
            <app-debug-control [control]="formControlReplace" />
        </div>

        <div>
            <natural-select
                placeholder="Always invalid"
                error="Custom error message"
                [service]="service"
                [formControl]="alwaysInvalidFormControl"
            />
            <app-debug-control [control]="alwaysInvalidFormControl" />
        </div>
    </div>

    <h2 class="mat-h2">FormGroup</h2>
    <div class="nat-horizontal nat-gap-10">
        <div>
            <div class="form-group" [formGroup]="formGroup">
                <natural-select formControlName="amazingField" placeholder="FormGroup (update)" [service]="service" />
            </div>
            <button mat-raised-button (click)="updateValidatorRequired(formGroup.get('amazingField')!)"
                >required
            </button>
            <button mat-raised-button (click)="updateValidatorOptional(formGroup.get('amazingField')!)"
                >optional
            </button>
            <app-debug-control [control]="formGroup" />
        </div>
        <div>
            <div class="form-group" [formGroup]="formGroupReplace">
                <natural-select formControlName="amazingField" placeholder="FormGroup (replace)" [service]="service" />
            </div>
            <app-debug-control [control]="formGroupReplace" />
        </div>
    </div>

    <h2 class="mat-h2">Others</h2>

    <div class="nat-horizontal nat-wrap nat-gap-10">
        <mat-form-field>
            <mat-label>Prétext</mat-label>
            <input matInput />
            <mat-hint>Basic input field to test alt+tab and focus on next field</mat-hint>
        </mat-form-field>

        <natural-select navigateTo="/" placeholder="With navigateTo" [service]="service" />

        <natural-select placeholder="Without icon" [service]="service" [showIcon]="false" />

        <natural-select icon="pets" placeholder="With custom icon" [service]="service" />

        <natural-select clearLabel="Clear selected item" placeholder="With clear label" [service]="service" />

        <natural-select placeholder="With service throwing error" [service]="errorService" />

        <natural-select placeholder="Custom item template" [service]="service">
            <ng-template let-item="item">
                <mat-icon naturalIcon="pets" />
                <span>Hello {{ item.name }} !</span>
            </ng-template>
        </natural-select>

        <div>
            <natural-select
                placeholder="Free text allowed"
                [service]="service"
                [optionRequired]="false"
                [(ngModel)]="freeText"
            />
            <pre class="debug">freeText: {{ freeText }}</pre>
        </div>

        <div style="width: 250px">
            <natural-select
                hint="My long hint text goes here and keep getting longer and will wrap"
                [service]="service"
            />
            <div>This text is pushed down by mat-hint</div>
        </div>
    </div>
</div>
