/*
 * Theme 1 (light + dark):
 *   Seed: #FF960B
 *   Core Colors:
 *     Primary: #FF960B
 *     Tertiary: #107DD0
 *     Neutral: #9B8E85
 *
 * Theme 1 Builder Link:
 *   http://material-foundation.github.io/material-theme-builder/?primary=FF960B&tertiary=107DD0&neutral=9B8E85
 */

@use '@angular/material' as mat;
/* prettier-ignore */
[data-theme="epicerio"] {
    @include mat.theme-overrides((
            primary: light-dark(#8C5000, #FFBE81),
            primary-container: light-dark(#FF960B, #FF960B),
            primary-fixed: light-dark(#FFDCBF, #FFDCBF),
            primary-fixed-dim: light-dark(#FFB874, #FFB874),
            on-primary: light-dark(#FFFFFF, #4B2800),
            on-primary-container: light-dark(#653800, #653800),
            on-primary-fixed: light-dark(#2D1600, #2D1600),
            on-primary-fixed-variant: light-dark(#6A3B00, #6A3B00),
            inverse-primary: light-dark(#FFB874, #8C5000),

            secondary: light-dark(#825425, #F7BA82),
            secondary-container: light-dark(#FDC087, #693F12),
            secondary-fixed: light-dark(#FFDCBF, #FFDCBF),
            secondary-fixed-dim: light-dark(#F7BA82, #F7BA82),
            on-secondary: light-dark(#FFFFFF, #4B2800),
            on-secondary-container: light-dark(#784C1E, #E8AC75),
            on-secondary-fixed: light-dark(#2D1600, #2D1600),
            on-secondary-fixed-variant: light-dark(#663D10, #663D10),

            tertiary: light-dark(#005EA1, #9FCAFF),
            tertiary-container: light-dark(#0078CA, #3B94E9),
            tertiary-fixed: light-dark(#D2E4FF, #D2E4FF),
            tertiary-fixed-dim: light-dark(#9FCAFF, #9FCAFF),
            on-tertiary: light-dark(#FFFFFF, #003259),
            on-tertiary-container: light-dark(#FDFCFF, #000D1D),
            on-tertiary-fixed: light-dark(#001D36, #001D36),
            on-tertiary-fixed-variant: light-dark(#00497E, #00497E),

            error: light-dark(#BA1A1A, #FFB4AB),
            error-container: light-dark(#FFDAD6, #93000A),
            on-error: light-dark(#FFFFFF, #690005),
            on-error-container: light-dark(#93000A, #FFDAD6),

            surface: light-dark(#FEF8F6, #141312),
            surface-variant: light-dark(#F8DEC9, #554334),
            on-surface: light-dark(#1D1B1A, #E6E1E0),
            on-surface-variant: light-dark(#554334, #DBC2AE),
            surface-dim: light-dark(#DED9D7, #141312),
            surface-bright: light-dark(#FEF8F6, #3B3938),
            surface-container-lowest: light-dark(#FFFFFF, #0F0E0D),
            surface-container-low: light-dark(#F8F2F1, #1D1B1A),
            surface-container: light-dark(#F2EDEB, #211F1E),
            surface-container-high: light-dark(#ECE7E5, #2B2A29),
            surface-container-highest: light-dark(#E6E1E0, #363433),
            surface-tint: light-dark(#8C5000, #FFB874),
            inverse-surface: light-dark(#32302F, #E6E1E0),
            inverse-on-surface: light-dark(#F5F0EE, #32302F),

            background: light-dark(#FFF8F5, #1A120A),
            on-background: light-dark(#231A12, #F2DFD1),

            outline: light-dark(#887362, #A38D7A),
            outline-variant: light-dark(#DBC2AE, #554334),
            shadow: light-dark(#000000, #000000),
            scrim: light-dark(#000000, #000000)
    ));
}
