/*
 * Theme 1 (light + dark):
 *   Seed: #FF960B
 *   Core Colors:
 *     Primary: #FF960B
 *     Tertiary: #107DD0
 *     Neutral: #FFFFFF
 *     Neutral Variant: #FFFFFF
 *
 * Theme 1 Builder Link:
 *   http://material-foundation.github.io/material-theme-builder/?primary=FF960B&tertiary=107DD0&neutral=FFFFFF&neutralVariant=FFFFFF
 */

@use '@angular/material' as mat;
/* prettier-ignore */
[data-theme="epicerio"] {
    @include mat.theme-overrides((
            primary: light-dark(#8C5000, #FFBE81),
            primary-container: light-dark(#FF960B, #FF960B),
            primary-fixed: light-dark(#FFDCBF, #FFDCBF),
            primary-fixed-dim: light-dark(#FFB874, #FFB874),
            on-primary: light-dark(#FFFFFF, #4B2800),
            on-primary-container: light-dark(#653800, #653800),
            on-primary-fixed: light-dark(#2D1600, #2D1600),
            on-primary-fixed-variant: light-dark(#6A3B00, #6A3B00),
            inverse-primary: light-dark(#FFB874, #8C5000),

            secondary: light-dark(#825425, #F7BA82),
            secondary-container: light-dark(#FDC087, #693F12),
            secondary-fixed: light-dark(#FFDCBF, #FFDCBF),
            secondary-fixed-dim: light-dark(#F7BA82, #F7BA82),
            on-secondary: light-dark(#FFFFFF, #4B2800),
            on-secondary-container: light-dark(#784C1E, #E8AC75),
            on-secondary-fixed: light-dark(#2D1600, #2D1600),
            on-secondary-fixed-variant: light-dark(#663D10, #663D10),

            tertiary: light-dark(#005EA1, #9FCAFF),
            tertiary-container: light-dark(#0078CA, #3B94E9),
            tertiary-fixed: light-dark(#D2E4FF, #D2E4FF),
            tertiary-fixed-dim: light-dark(#9FCAFF, #9FCAFF),
            on-tertiary: light-dark(#FFFFFF, #003259),
            on-tertiary-container: light-dark(#FDFCFF, #000D1D),
            on-tertiary-fixed: light-dark(#001D36, #001D36),
            on-tertiary-fixed-variant: light-dark(#00497E, #00497E),

            error: light-dark(#BC0100, #FFB4A8),
            error-container: light-dark(#EB0000, #FF5540),
            on-error: light-dark(#FFFFFF, #690100),
            on-error-container: light-dark(#FFFBFF, #360000),

            surface: light-dark(#FCF8F8, #141313),
            surface-variant: light-dark(#E0E3E3, #444748),
            on-surface: light-dark(#1C1B1B, #E5E2E1),
            on-surface-variant: light-dark(#444748, #C4C7C8),
            surface-dim: light-dark(#DDD9D9, #141313),
            surface-bright: light-dark(#FCF8F8, #3A3939),
            surface-container-lowest: light-dark(#FFFFFF, #0E0E0E),
            surface-container-low: light-dark(#F6F3F2, #1C1B1B),
            surface-container: light-dark(#F1EDEC, #201F1F),
            surface-container-high: light-dark(#EBE7E7, #2A2A2A),
            surface-container-highest: light-dark(#E5E2E1, #353434),
            surface-tint: light-dark(#8C5000, #FFB874),
            inverse-surface: light-dark(#313030, #E5E2E1),
            inverse-on-surface: light-dark(#F4F0EF, #313030),

            background: light-dark(#FFF8F5, #1A120A),
            on-background: light-dark(#231A12, #F2DFD1),

            outline: light-dark(#747878, #8E9192),
            outline-variant: light-dark(#C4C7C8, #444748),
            shadow: light-dark(#000000, #000000),
            scrim: light-dark(#000000, #000000)
    ));
}
