/*
 * Theme 1 (light + dark):
 *   Seed: #208962
 *   Core Colors:
 *     Primary: #208962
 *     Tertiary: #FF960B
 *     Neutral: #FFFFFF
 *     Neutral Variant: #FFFFFF
 *
 * Theme 1 Builder Link:
 *   http://material-foundation.github.io/material-theme-builder/?primary=208962&tertiary=FF960B&neutral=FFFFFF&neutralVariant=FFFFFF
 */

@use '@angular/material' as mat;
/* prettier-ignore */

[data-theme="jardinvivant"] {
    @include mat.theme-overrides((
            primary: light-dark(#006948, #79D9AC),
            primary-container: light-dark(#18845E, #3FA279),
            primary-fixed: light-dark(#95F6C7, #95F6C7),
            primary-fixed-dim: light-dark(#79D9AC, #79D9AC),
            on-primary: light-dark(#FFFFFF, #003825),
            on-primary-container: light-dark(#F5FFF7, #000D06),
            on-primary-fixed: light-dark(#002114, #002114),
            on-primary-fixed-variant: light-dark(#005137, #005137),
            inverse-primary: light-dark(#79D9AC, #006C4A),

            secondary: light-dark(#436654, #A9CFBA),
            secondary-container: light-dark(#C2E9D2, #2E503F),
            secondary-fixed: light-dark(#C5EBD5, #C5EBD5),
            secondary-fixed-dim: light-dark(#A9CFBA, #A9CFBA),
            on-secondary: light-dark(#FFFFFF, #143727),
            on-secondary-container: light-dark(#476A58, #9BC1AC),
            on-secondary-fixed: light-dark(#002114, #002114),
            on-secondary-fixed-variant: light-dark(#2B4D3D, #2B4D3D),

            tertiary: light-dark(#8C5000, #FFBE81),
            tertiary-container: light-dark(#FF960B, #FF960B),
            tertiary-fixed: light-dark(#FFDCBF, #FFDCBF),
            tertiary-fixed-dim: light-dark(#FFB874, #FFB874),
            on-tertiary: light-dark(#FFFFFF, #4B2800),
            on-tertiary-container: light-dark(#653800, #653800),
            on-tertiary-fixed: light-dark(#2D1600, #2D1600),
            on-tertiary-fixed-variant: light-dark(#6A3B00, #6A3B00),

            error: light-dark(#BA1A1A, #FFB4AB),
            error-container: light-dark(#FFDAD6, #93000A),
            on-error: light-dark(#FFFFFF, #690005),
            on-error-container: light-dark(#93000A, #FFDAD6),

            surface: light-dark(#FCF8F8, #141313),
            surface-variant: light-dark(#E0E3E3, #444748),
            on-surface: light-dark(#1C1B1B, #E5E2E1),
            on-surface-variant: light-dark(#444748, #C4C7C8),
            surface-dim: light-dark(#DDD9D9, #141313),
            surface-bright: light-dark(#FCF8F8, #3A3939),
            surface-container-lowest: light-dark(#FFFFFF, #0E0E0E),
            surface-container-low: light-dark(#F6F3F2, #1C1B1B),
            surface-container: light-dark(#F1EDEC, #201F1F),
            surface-container-high: light-dark(#EBE7E7, #2A2A2A),
            surface-container-highest: light-dark(#E5E2E1, #353434),
            surface-tint: light-dark(#006C4A, #79D9AC),
            inverse-surface: light-dark(#313030, #E5E2E1),
            inverse-on-surface: light-dark(#F4F0EF, #313030),

            background: light-dark(#F6FBF5, #0F1512),
            on-background: light-dark(#181D1A, #DFE4DE),

            outline: light-dark(#747878, #8E9192),
            outline-variant: light-dark(#C4C7C8, #444748),
            shadow: light-dark(#000000, #000000),
            scrim: light-dark(#000000, #000000)
    ));
}
