/*
 * Theme 1 (light + dark):
 *   Seed: #6B886A
 *   Core Colors:
 *     Primary: #6B886A
 *     Tertiary: #FF960B
 *     Neutral: #FFFFFF
 *     Neutral Variant: #FFFFFF
 *
 * Theme 1 Builder Link:
 *   http://material-foundation.github.io/material-theme-builder/?primary=6B886A&tertiary=FF960B&neutral=FFFFFF&neutralVariant=FFFFFF&colorMatch=true
 */

@use '@angular/material' as mat;

// Only light color for old browsers that don't support light-dark()
/* prettier-ignore */

[data-theme="lacanopee"] {
    @include mat.theme-overrides((
        primary: #476347,
        primary-container: #5F7C5E,
        primary-fixed: #CBEBC8,
        primary-fixed-dim: #B0CFAD,
        on-primary: #FFFFFF,
        on-primary-container: #F7FFF2,
        on-primary-fixed: #06210B,
        on-primary-fixed-variant: #324D33,
        inverse-primary: #B0CFAD,

        secondary: #566154,
        secondary-container: #D7E3D2,
        secondary-fixed: #DAE6D5,
        secondary-fixed-dim: #BECABA,
        on-secondary: #FFFFFF,
        on-secondary-container: #5A6658,
        on-secondary-fixed: #141E14,
        on-secondary-fixed-variant: #3F4A3D,

        tertiary: #8C5000,
        tertiary-container: #FF960B,
        tertiary-fixed: #FFDCBF,
        tertiary-fixed-dim: #FFB874,
        on-tertiary: #FFFFFF,
        on-tertiary-container: #653800,
        on-tertiary-fixed: #2D1600,
        on-tertiary-fixed-variant: #6A3B00,

        error: #BC0100,
        error-container: #EB0000,
        on-error: #FFFFFF,
        on-error-container: #FFFBFF,

        surface: #FCF8F8,
        surface-variant: #E0E3E3,
        on-surface: #1C1B1B,
        on-surface-variant: #444748,
        surface-dim: #DDD9D9,
        surface-bright: #FCF8F8,
        surface-container-lowest: #FFFFFF,
        surface-container-low: #F6F3F2,
        surface-container: #F1EDEC,
        surface-container-high: #EBE7E7,
        surface-container-highest: #E5E2E1,
        surface-tint: #496549,
        inverse-surface: #313030,
        inverse-on-surface: #F4F0EF,

        background: #FAF9F5,
        on-background: #1A1C1A,

        outline: #747878,
        outline-variant: #C4C7C8,
        shadow: #000000,
        scrim: #000000
    ));
}

// Both colors for new browsers that support light-dark()
@supports (color: light-dark(white, black)) {
    /* prettier-ignore */

    [data-theme="lacanopee"] {
        @include mat.theme-overrides((
            primary: light-dark(#476347, #B0CFAD),
            primary-container: light-dark(#5F7C5E, #7B9879),
            primary-fixed: light-dark(#CBEBC8, #CBEBC8),
            primary-fixed-dim: light-dark(#B0CFAD, #B0CFAD),
            on-primary: light-dark(#FFFFFF, #1C361E),
            on-primary-container: light-dark(#F7FFF2, #031D08),
            on-primary-fixed: light-dark(#06210B, #06210B),
            on-primary-fixed-variant: light-dark(#324D33, #324D33),
            inverse-primary: light-dark(#B0CFAD, #496549),

            secondary: light-dark(#566154, #BECABA),
            secondary-container: light-dark(#D7E3D2, #3F4A3D),
            secondary-fixed: light-dark(#DAE6D5, #DAE6D5),
            secondary-fixed-dim: light-dark(#BECABA, #BECABA),
            on-secondary: light-dark(#FFFFFF, #283328),
            on-secondary-container: light-dark(#5A6658, #ACB9A9),
            on-secondary-fixed: light-dark(#141E14, #141E14),
            on-secondary-fixed-variant: light-dark(#3F4A3D, #3F4A3D),

            tertiary: light-dark(#8C5000, #FFBE81),
            tertiary-container: light-dark(#FF960B, #FF960B),
            tertiary-fixed: light-dark(#FFDCBF, #FFDCBF),
            tertiary-fixed-dim: light-dark(#FFB874, #FFB874),
            on-tertiary: light-dark(#FFFFFF, #4B2800),
            on-tertiary-container: light-dark(#653800, #653800),
            on-tertiary-fixed: light-dark(#2D1600, #2D1600),
            on-tertiary-fixed-variant: light-dark(#6A3B00, #6A3B00),

            error: light-dark(#BC0100, #FFB4A8),
            error-container: light-dark(#EB0000, #FF5540),
            on-error: light-dark(#FFFFFF, #690100),
            on-error-container: light-dark(#FFFBFF, #360000),

            surface: light-dark(#FCF8F8, #141313),
            surface-variant: light-dark(#E0E3E3, #444748),
            on-surface: light-dark(#1C1B1B, #E5E2E1),
            on-surface-variant: light-dark(#444748, #C4C7C8),
            surface-dim: light-dark(#DDD9D9, #141313),
            surface-bright: light-dark(#FCF8F8, #3A3939),
            surface-container-lowest: light-dark(#FFFFFF, #0E0E0E),
            surface-container-low: light-dark(#F6F3F2, #1C1B1B),
            surface-container: light-dark(#F1EDEC, #201F1F),
            surface-container-high: light-dark(#EBE7E7, #2A2A2A),
            surface-container-highest: light-dark(#E5E2E1, #353434),
            surface-tint: light-dark(#496549, #B0CFAD),
            inverse-surface: light-dark(#313030, #E5E2E1),
            inverse-on-surface: light-dark(#F4F0EF, #313030),

            background: light-dark(#FAF9F5, #121412),
            on-background: light-dark(#1A1C1A, #E3E3DE),

            outline: light-dark(#747878, #8E9192),
            outline-variant: light-dark(#C4C7C8, #444748),
            shadow: light-dark(#000000, #000000),
            scrim: light-dark(#000000, #000000)
        ));
    }
}
