/*
 * Theme 1 (light + dark):
 *   Seed: #2A7AE2
 *   Core Colors:
 *     Primary: #2A7AE2
 *     Secondary: #812ADD
 *     Tertiary: #B72AE2
 *     Neutral: #909090
 *     Neutral Variant: #747474
 *
 * Theme 1 Builder Link:
 *   http://material-foundation.github.io/material-theme-builder/?primary=2A7AE2&secondary=812ADD&tertiary=B72AE2&neutral=909090&neutralVariant=747474
 */

@use '@angular/material' as mat;

/* prettier-ignore */
.natural-theme {
    @include mat.theme-overrides(
        (
            primary: light-dark(#005AB5, #AAC7FF),
            primary-container: light-dark(#1E73DB, #4890F9),
            primary-fixed: light-dark(#D6E3FF, #D6E3FF),
            primary-fixed-dim: light-dark(#AAC7FF, #AAC7FF),
            on-primary: light-dark(#FFFFFF, #002F64),
            on-primary-container: light-dark(#FEFCFF, #000F28),
            on-primary-fixed: light-dark(#001B3E, #001B3E),
            on-primary-fixed-variant: light-dark(#00458E, #00458E),
            inverse-primary: light-dark(#AAC7FF, #005DB9),

            secondary: light-dark(#6600BC, #DAB9FF),
            secondary-container: light-dark(#812ADD, #812ADD),
            secondary-fixed: light-dark(#EEDBFF, #EEDBFF),
            secondary-fixed-dim: light-dark(#DAB9FF, #DAB9FF),
            on-secondary: light-dark(#FFFFFF, #460084),
            on-secondary-container: light-dark(#E8D2FF, #E8D2FF),
            on-secondary-fixed: light-dark(#2A0053, #2A0053),
            on-secondary-fixed-variant: light-dark(#6400B9, #6400B9),

            tertiary: light-dark(#9700C0, #F1AFFF),
            tertiary-container: light-dark(#B72AE2, #B72AE2),
            tertiary-fixed: light-dark(#FBD7FF, #FBD7FF),
            tertiary-fixed-dim: light-dark(#F1AFFF, #F1AFFF),
            on-tertiary: light-dark(#FFFFFF, #54006C),
            on-tertiary-container: light-dark(#FFF9FA, #FFF9FA),
            on-tertiary-fixed: light-dark(#330043, #330043),
            on-tertiary-fixed-variant: light-dark(#780098, #780098),

            error: light-dark(#BA1A1A, #FFB4AB),
            error-container: light-dark(#FFDAD6, #93000A),
            on-error: light-dark(#FFFFFF, #690005),
            on-error-container: light-dark(#93000A, #FFDAD6),

            surface: light-dark(#FCF8F8, #141313),
            surface-variant: light-dark(#E0E3E3, #444748),
            on-surface: light-dark(#1C1B1B, #E5E2E1),
            on-surface-variant: light-dark(#444748, #C4C7C7),
            surface-dim: light-dark(#DDD9D9, #141313),
            surface-bright: light-dark(#FCF8F8, #3A3939),
            surface-container-lowest: light-dark(#FFFFFF, #0E0E0E),
            surface-container-low: light-dark(#F7F3F2, #1C1B1B),
            surface-container: light-dark(#F1EDEC, #201F1F),
            surface-container-high: light-dark(#EBE7E7, #2A2A2A),
            surface-container-highest: light-dark(#E5E2E1, #353434),
            surface-tint: light-dark(#005DB9, #AAC7FF),
            inverse-surface: light-dark(#313030, #E5E2E1),
            inverse-on-surface: light-dark(#F4F0EF, #313030),

            background: light-dark(#F9F9FF, #10131A),
            on-background: light-dark(#191C22, #E1E2EB),

            outline: light-dark(#747878, #8E9192),
            outline-variant: light-dark(#C4C7C7, #444748),
            shadow: light-dark(#000000, #000000),
            scrim: light-dark(#000000, #000000)
        )
    );
}
