<h1 class="mat-font-headline-lg">natural-avatar</h1>

<div class="nat-vertical nat-gap-5">
    <button i18n matButton="elevated">raised</button>
    <button i18n matButton>text default</button>
    <button i18n matButton="filled" color="primary">flat/filled</button>
    <button i18n matButton="tonal">tonal</button>
    <button i18n matButton color="error">text error</button>
    <button i18n matButton color="error">error</button>
    <button i18n matButton="tonal" color="error">error</button>
    <button i18n matButton="filled" color="error">error</button>
    <button i18n matButton="outlined" color="error">error</button>
    <button i18n matButton="elevated" color="error">error</button>
    <button i18n matButton color="tertiary">tertiary</button>
    <button i18n matButton="tonal" color="tertiary">tertiary</button>
    <button i18n matButton="filled" color="tertiary">tertiary</button>
    <button i18n matButton="outlined" color="tertiary">tertiary</button>
    <button i18n matButton="elevated" color="tertiary">tertiary</button>

    <div class="nat-horizontal nat-gap nat-align nat-center">
        <button i18n matFab>
            <mat-icon naturalIcon="add" />
        </button>
        <button i18n matFab color="error">
            <mat-icon naturalIcon="add" />
        </button>
        <button i18n matFab color="tertiary">
            <mat-icon naturalIcon="add" />
        </button>
        <button i18n matMiniFab>
            <mat-icon naturalIcon="add" />
        </button>
        <button i18n matMiniFab color="error">
            <mat-icon naturalIcon="add" />
        </button>
        <button i18n matMiniFab color="tertiary">
            <mat-icon naturalIcon="add" />
        </button>
    </div>
    <div class="nat-horizontal nat-gap nat-align nat-center">
        <button i18n matFab class="nat-rounded nat-flat">
            <mat-icon naturalIcon="add" />
        </button>
        <button i18n matFab color="error" class="nat-rounded nat-flat">
            <mat-icon naturalIcon="add" />
        </button>
        <button i18n matFab color="tertiary" class="nat-rounded nat-flat">
            <mat-icon naturalIcon="add" />
        </button>
        <button i18n matMiniFab class="nat-rounded nat-flat">
            <mat-icon naturalIcon="add" />
        </button>
        <button i18n matMiniFab color="error" class="nat-rounded nat-flat">
            <mat-icon naturalIcon="add" />
        </button>
        <button i18n matMiniFab color="tertiary" class="nat-rounded nat-flat">
            <mat-icon naturalIcon="add" />
        </button>
    </div>
    <div class="nat-horizontal nat-gap nat-align nat-center">
        <button i18n matIconButton>
            <mat-icon naturalIcon="add" />
        </button>
        <button i18n matIconButton color="error">
            <mat-icon naturalIcon="add" />
        </button>
        <button i18n matIconButton color="tertiary">
            <mat-icon naturalIcon="add" />
        </button>
    </div>
</div>
