.frame {
    border-radius: var(--mat-sys-corner-extra-large);
    background: var(--mat-sys-surface-bright);
    padding: 20px;
    color: var(--mat-sys-on-surface);
}

::ng-deep {
    div.frame:first-of-type app-buttons-set {
        natural-fixed-button {
            transform: translateX(-40vw);
        }
    }
}
