<div class="nat-vertical">
    <mat-checkbox [(ngModel)]="disabled">Disabled</mat-checkbox>

    <div class="nat-expand nat-horizontal nat-gap">
        <div class="nat-expand nat-vertical">
            <natural-editor [(ngModel)]="htmlStringBasic" [disabled]="disabled" />

            <div>
                <h1 class="mat-headline-4 nat-margin-bottom">Preview</h1>
                <div [innerHTML]="htmlStringBasic" class="preview"></div>
            </div>

            <div>
                <h1 class="mat-headline-4 nat-margin-bottom">Debug</h1>
                <p class="debug">{{ htmlStringBasic }}</p>
            </div>
        </div>

        <div class="nat-expand nat-vertical">
            <natural-editor
                [(ngModel)]="htmlStringAdvanced"
                [naturalCustomCss]="css"
                [disabled]="disabled"
                mode="advanced"
            />

            <div>
                <h1 class="mat-headline-4 nat-margin-bottom">Preview</h1>
                <div [innerHTML]="trustHTML(htmlStringAdvanced)" class="preview" [naturalCustomCss]="css"></div>
            </div>

            <div>
                <h1 class="mat-headline-4 nat-margin-bottom">Debug</h1>
                <p class="debug">{{ htmlStringAdvanced }}</p>
            </div>
        </div>

        <div class="nat-expand nat-vertical">
            <natural-editor
                [(ngModel)]="htmlStringAdvancedWithImage"
                [imageUploader]="uploader"
                (save)="update()"
                [naturalCustomCss]="css"
                [disabled]="disabled"
            />

            <div>
                <h1 class="mat-headline-4 nat-margin-bottom">Preview</h1>
                <div
                    [innerHTML]="trustHTML(htmlStringAdvancedWithImage)"
                    class="preview"
                    [naturalCustomCss]="css"
                ></div>
            </div>

            <div>
                <h1 class="mat-headline-4 nat-margin-bottom">Debug</h1>
                <p class="debug">{{ htmlStringAdvancedWithImage }}</p>
            </div>
        </div>
    </div>
</div>
