<div class="nat-vertical">
    <mat-checkbox [(ngModel)]="disabled">Disabled</mat-checkbox>

    <div class="nat-expand nat-horizontal nat-gap">
        <div class="nat-expand nat-vertical">
            <natural-editor [disabled]="disabled" [(ngModel)]="htmlStringBasic" />

            <div>
                <h1 class="mat-headline-4 nat-margin-bottom">Preview</h1>
                <div class="preview" [innerHTML]="htmlStringBasic"></div>
            </div>

            <div>
                <h1 class="mat-headline-4 nat-margin-bottom">Debug</h1>
                <p class="debug">{{ htmlStringBasic }}</p>
            </div>
        </div>

        <div class="nat-expand nat-vertical">
            <natural-editor
                mode="advanced"
                [naturalCustomCss]="css"
                [disabled]="disabled"
                [(ngModel)]="htmlStringAdvanced"
            />

            <div>
                <h1 class="mat-headline-4 nat-margin-bottom">Preview</h1>
                <div class="preview" [innerHTML]="trustHTML(htmlStringAdvanced)" [naturalCustomCss]="css"></div>
            </div>

            <div>
                <h1 class="mat-headline-4 nat-margin-bottom">Debug</h1>
                <p class="debug">{{ htmlStringAdvanced }}</p>
            </div>
        </div>

        <div class="nat-expand nat-vertical">
            <natural-editor
                [imageUploader]="uploader"
                [naturalCustomCss]="css"
                [disabled]="disabled"
                [(ngModel)]="htmlStringAdvancedWithImage"
                (save)="update()"
            />

            <div>
                <h1 class="mat-headline-4 nat-margin-bottom">Preview</h1>
                <div
                    class="preview"
                    [innerHTML]="trustHTML(htmlStringAdvancedWithImage)"
                    [naturalCustomCss]="css"
                ></div>
            </div>

            <div>
                <h1 class="mat-headline-4 nat-margin-bottom">Debug</h1>
                <p class="debug">{{ htmlStringAdvancedWithImage }}</p>
            </div>
        </div>
    </div>
</div>
