<h1 class="mat-font-headline-lg">natural-search</h1>

<div class="nat-vertical nat-gap-50">
    <div>
        <div class="mat-font-headline-sm">Component usage</div>
        <natural-hierarchic-selector
            [allowSelectAll]="true"
            [config]="config"
            [multiple]="true"
            [selected]="selected"
            [searchFacets]="searchFacets"
            [searchSelections]="searchSelections"
            (selectionChange)="log('component usage', $event)"
        />
    </div>

    <div>
        <div class="mat-font-headline-sm">Dialog usage</div>
        <button matButton="filled" color="primary" (click)="select()">Select any</button>
    </div>
</div>
