<h1 class="mat-headline-4">NaturalAbstractEditableList</h1>
<div class="nat-horizontal nat-left nat-gap">
    <div [formGroup]="form">
        <div class="mat-headline-6">As a mat-table</div>

        <table mat-table formArrayName="rows" [dataSource]="dataSource">
            <tr *matHeaderRowDef="columns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: columns" mat-row></tr>

            <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell>Name</th>
                <td *matCellDef="let element; let i = index" mat-cell [formGroupName]="i">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" />
                        @if (formArray.at(i).get('name')?.hasError('maxlength')) {
                            <mat-error>
                                Maximum {{ formArray.at(i).get('name')?.errors?.maxlength.requiredLength }} caractères
                            </mat-error>
                        }
                        @if (formArray.at(i).get('name')?.hasError('required')) {
                            <mat-error>Requis</mat-error>
                        }
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th *matHeaderCellDef mat-header-cell>Description</th>
                <td *matCellDef="let element; let i = index" mat-cell [formGroupName]="i">
                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <input matInput formControlName="description" />
                        @if (formArray.at(i).get('description')?.hasError('maxlength')) {
                            <mat-error>
                                Maximum{{ formArray.at(i).get('description')?.errors?.maxlength.requiredLength }}
                                caractères
                            </mat-error>
                        }
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="remove">
                <th *matHeaderCellDef mat-header-cell></th>
                <td *matCellDef="let element; let i = index" mat-cell [formGroupName]="i">
                    <button mat-icon-button color="warn" (click)="removeAt(i)">
                        <mat-icon naturalIcon="delete" />
                    </button>
                </td>
                <td *matFooterCellDef mat-footer-cell></td>
            </ng-container>
        </table>
    </div>

    <div [formGroup]="form">
        <div class="mat-headline-6">As a `for` loop</div>
        @for (element of dataSource.data; track element) {
            <div formArrayName="rows">
                <div class="nat-horizontal nat-gap" [formGroupName]="$index">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" />
                        @if (formArray.at($index).get('name')?.hasError('maxlength')) {
                            <mat-error>
                                Maximum{{
                                    formArray.at($index).get('name')?.errors?.maxlength.requiredLength
                                }}caractères
                            </mat-error>
                        }
                        @if (formArray.at($index).get('name')?.hasError('required')) {
                            <mat-error>Requis</mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <input matInput formControlName="description" />
                        @if (formArray.at($index).get('description')?.hasError('maxlength')) {
                            <mat-error>
                                Maximum{{
                                    formArray.at($index).get('description')?.errors?.maxlength.requiredLength
                                }}caractères
                            </mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
        }
    </div>

    <div>
        <pre class="debug"><strong>form.valid:</strong> {{ form.valid | json }}</pre>
        <pre class="debug"><strong>getItems():</strong> {{ getItems() | json }}</pre>
    </div>
</div>
