// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'sass:map';
@use '../projects/natural/src/lib/natural';
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:FILL@1');

// Include components themes
@mixin components-theme($theme) {
    @include natural.natural($theme);
}

html {
    @include mat.theme(
        (
            color: (),
            typography: Roboto,
            density: 0,
        )
    );
}

html,
body,
app-root {
    margin: 0;
    height: 100%;
    min-height: 100%;
    font-size: 14px;
}

body {
    background-color: var(--mat-sys-surface-container);
    color: var(--mat-sys-on-surface);
    font: var(--mat-sys-body-medium);

    @include mat.table-overrides(
        (
            row-item-outline-color: var(--mat-sys-outline-variant),
        )
    );

    @include mat.sidenav-overrides(
        (
            container-background-color: var(--mat-sys-surface-container),
            content-background-color: var(--mat-sys-surface-container),
        )
    );
}

app-root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

:root,
.color-scheme-auto {
    color-scheme: light dark;
}

.color-scheme-light {
    color-scheme: light;
}

.color-scheme-dark {
    color-scheme: dark;
}

.app-component > router-outlet + * {
    flex: 1;
    flex-direction: column;
}

[overflow] {
    overflow: auto;
}

#menu {
    .mat-expansion-panel {
        background: transparent;
    }
}

.nat-gap-50 {
    gap: 50px;
}

[class^='app-'] .mat-headline-4 {
    margin-bottom: 30px !important;
}

p.debug,
pre.debug {
    margin: 10px;
    border: 1px solid var(--mat-sys-outline-variant);
    border-radius: var(--mat-sys-corner-small);
    background: var(--mat-sys-surface-container);
    padding: 10px;
    font-size: 16px;
    line-height: 1.5em;
    font-family: Courrier, monospace;
}
