// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use '../projects/natural/src/lib/natural';
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:FILL@1');

html {
    @include mat.theme(
        (
            color: (),
            typography: Roboto,
            density: 0,
        )
    );
}

@supports (color: color-mix(in srgb, red, blue)) {
    body {
        // All themes have same tertiary, so same tertiary alteration (more contrasted)
        --nat-tertiary-link-color: color-mix(in srgb, var(--mat-sys-tertiary-container) 85%, var(--mat-sys-on-surface));
    }

    // Contrast primary links
    [data-theme='epicerio'][data-is-dark='true'],
    [data-theme='chezemmy'],
    [data-theme='epicentre'][data-is-dark='true'],
    [data-theme='epicoop'][data-is-dark='true'],
    [data-theme='jardinvivant'][data-is-dark='true'],
    [data-theme='lacanopee'][data-is-dark='true'],
    [data-theme='lavracrie'][data-is-dark='true'],
    [data-theme='lelocalhauterive'][data-is-dark='true'],
    [data-theme='levorace'][data-is-dark='true'],
    [data-theme='rucher'][data-is-dark='true'] {
        body {
            --nat-primary-link-color: color-mix(
                in srgb,
                var(--mat-sys-primary-container) 80%,
                var(--mat-sys-on-surface)
            );
        }
    }
}
.app-component > router-outlet + * {
    flex: 1;
    flex-direction: column;
}

[overflow] {
    overflow: auto;
}

#menu {
    .mat-expansion-panel {
        background: transparent;
    }
}

.nat-gap-50 {
    gap: 50px;
}

[class^='app-'] .mat-font-headline-lg {
    margin-bottom: 30px !important;
}

p.debug,
pre.debug {
    border: 1px solid var(--mat-sys-outline-variant);
    border-radius: var(--mat-sys-corner-small);
    background: var(--mat-sys-surface-container);
    padding: 10px;
    font-size: 16px;
    line-height: 1.5em;
    font-family: Courrier, monospace;
}
