<h1 class="mat-font-headline-lg">natural-search</h1>

<div class="nat-vertical nat-gap">
    <natural-search
        dropdownTitle="Very long dropdown title wow wow wow"
        [facets]="facets"
        [multipleGroups]="true"
        [selections]="selections"
        (selectionChange)="updateFilter($event); selectionsDone = $event"
    >
        <button color="primary" matButton="filled">extern.</button>
    </natural-search>

    <div class="nat-horizontal nat-gap">
        <button color="primary" matButton="filled" (click)="facets = facets1">Config 1</button>
        <button color="primary" matButton="filled" (click)="facets = facets2">Config 2</button>
        <button color="primary" matButton="filled" (click)="facets = []">No config</button>
    </div>

    <div class="nat-horizontal nat-gap">
        <pre
            class="debug nat-expand"
            style="overflow: auto"
        ><strong>Selections input: </strong>{{ selections | json }}</pre>
        <pre
            class="debug nat-expand"
            style="overflow: auto"
        ><strong>Selections output: </strong>{{ selectionsDone | json }}</pre>
        <pre
            class="debug nat-expand"
            style="overflow: auto"
        ><strong>GraphQL selections: </strong>{{ graphqlSelections | json }}</pre>
    </div>

    <!-- @off -->
    <pre class="debug" style="overflow: auto"><strong>JSON serialized length: </strong>

    Selections:{{ stringify(selections).length }}{{ stringify(selections) }}

    GraphQL selections:{{ stringify(graphqlSelections).length }}{{ stringify(graphqlSelections) }}

    Compressed selections:{{ toUrl(selections)?.length }}{{ toUrl(selections) }}
    </pre>

    <!-- @on -->
</div>
