<div fxFlex fxLayout="column">
    <mat-toolbar fxFlex="none" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <button (click)="menu.toggle()" *ngIf="menu" mat-icon-button>
            <natural-icon name="menu"></natural-icon>
        </button>

        <a href="/" mat-button>
            <img height="40px" src="assets/logo.svg" />
            <span class="mat-title">@ecodev/natural</span>
        </a>

        <div fxFlex></div>

        <button (click)="themeService.toggle()" mat-icon-button>
            <natural-icon name="invert_colors"></natural-icon>
        </button>

        <a href="https://github.com/ecodev/natural" mat-icon-button>
            <img src="assets/github.svg" style="height: 24px" />
        </a>
    </mat-toolbar>

    <div fxFlex fxLayout="column">
        <natural-sidenav-container #menu [noScroll]="true" fxFlex name="menu">
            <natural-sidenav> </natural-sidenav>

            <natural-sidenav-content> </natural-sidenav-content>
        </natural-sidenav-container>
    </div>
</div>
