<mat-toolbar [class]="`nat-horizontal nat-left nat-center nat-gap`">
    @if (menu) {
        <button mat-icon-button (click)="menu.toggle()">
            <mat-icon naturalIcon="menu" />
        </button>
    }

    <a class="logo" href="/" mat-button>
        <span class="nat-horizontal nat-align">
            <img height="40px" src="assets/logo.svg" />
            <span class="mat-font-title-lg">&#64;ecodev/natural</span>
        </span>
    </a>

    <div class="nat-expand"></div>

    <natural-color-schemer />
    <natural-theme-changer />

    <a href="https://github.com/ecodev/natural" mat-icon-button>
        <mat-icon naturalIcon="github" />
    </a>
</mat-toolbar>

<natural-sidenav-container #menu class="nat-expand" name="menu" [noScroll]="true">
    <natural-sidenav>
        <mat-nav-list role="navigation">
            <a
                mat-list-item
                routerLink="/"
                routerLinkActive="nat-gradient-secondary nat-elevation"
                [routerLinkActiveOptions]="{exact: true}"
            >
                <mat-icon matListItemIcon naturalIcon="home" />
                Home
            </a>
            <a mat-list-item routerLink="/theme-merger" routerLinkActive="nat-gradient-secondary nat-elevation">
                <mat-icon matListItemIcon naturalIcon="graph_1" />
                Theme merger
            </a>
            <a mat-list-item routerLink="/search" routerLinkActive="nat-gradient-secondary nat-elevation">
                <mat-icon matListItemIcon naturalIcon="search" />
                Search
            </a>
            <a
                mat-list-item
                routerLinkActive="nat-gradient-secondary nat-elevation"
                [routerLink]="['/list', {dog: 'qwer'}]"
            >
                <mat-icon matListItemIcon naturalIcon="list" />
                List A
            </a>
            <a
                mat-list-item
                routerLinkActive="nat-gradient-secondary nat-elevation"
                [routerLink]="['/nested/anyValue', {cat: 'cat'}, 'list', {dog: 'dog'}]"
            >
                <mat-icon matListItemIcon naturalIcon="list" />
                List B
            </a>
            <a mat-list-item routerLinkActive="nat-gradient-secondary nat-elevation" [routerLink]="['/editable-list']">
                <mat-icon matListItemIcon naturalIcon="list" />
                Editable list
            </a>
            <a mat-list-item routerLinkActive="nat-gradient-secondary nat-elevation" [routerLink]="['/table-style']">
                <mat-icon matListItemIcon naturalIcon="list" />
                Table style
            </a>
            <a mat-list-item routerLinkActive="nat-gradient-secondary nat-elevation" [routerLink]="['/navigable-list']">
                <mat-icon matListItemIcon naturalIcon="subdirectory_arrow_right" />
                Navigable list
            </a>
            <a mat-list-item routerLinkActive="nat-gradient-secondary nat-elevation" [routerLink]="['/detail/123']">
                <mat-icon matListItemIcon naturalIcon="details" />
                Detail
            </a>
            <a mat-list-item routerLinkActive="nat-gradient-secondary nat-elevation" [routerLink]="['/detail-header']">
                <mat-icon matListItemIcon naturalIcon="title" />
                Detail header
            </a>
            <a mat-list-item routerLink="/select" routerLinkActive="nat-gradient-secondary nat-elevation">
                <mat-icon matListItemIcon naturalIcon="check" />
                Select
            </a>
            <a mat-list-item routerLink="/select-hierarchic" routerLinkActive="nat-gradient-secondary nat-elevation">
                <mat-icon matListItemIcon naturalIcon="check" />
                Select hierarchic
            </a>
            <a mat-list-item routerLink="/select-enum" routerLinkActive="nat-gradient-secondary nat-elevation">
                <mat-icon matListItemIcon naturalIcon="check" />
                Select Enum
            </a>
            <a mat-list-item routerLink="/relation" routerLinkActive="nat-gradient-secondary nat-elevation">
                <mat-icon matListItemIcon naturalIcon="device_hub" />
                Relation
            </a>
            <a mat-list-item routerLink="/hierarchic" routerLinkActive="nat-gradient-secondary nat-elevation">
                <mat-icon matListItemIcon naturalIcon="account_tree" />
                Hierarchic
            </a>
            <a mat-list-item routerLink="/panels" routerLinkActive="nat-gradient-secondary nat-elevation">
                <mat-icon matListItemIcon naturalIcon="filter_none" />
                Panels
            </a>
            <a mat-list-item routerLink="/file" routerLinkActive="nat-gradient-secondary nat-elevation">
                <mat-icon matListItemIcon naturalIcon="file_upload" />
                File
            </a>
            <a mat-list-item routerLink="/alert-service" routerLinkActive="nat-gradient-secondary nat-elevation">
                <mat-icon matListItemIcon naturalIcon="error" />
                Alert service
            </a>
            <a mat-list-item routerLink="/avatar" routerLinkActive="nat-gradient-secondary nat-elevation">
                <mat-icon matListItemIcon naturalIcon="face" />
                Avatar
            </a>
            <a mat-list-item routerLink="/editor" routerLinkActive="nat-gradient-secondary nat-elevation">
                <mat-icon matListItemIcon naturalIcon="edit" />
                Editor
            </a>
            <a mat-list-item routerLink="/typography" routerLinkActive="nat-gradient-secondary nat-elevation">
                <mat-icon matListItemIcon naturalIcon="format_size" />
                Typography
            </a>
            <a mat-list-item routerLink="/buttons" routerLinkActive="nat-gradient-secondary nat-elevation">
                <mat-icon matListItemIcon naturalIcon="left_click" />
                Buttons
            </a>
            <a mat-list-item routerLink="/other" routerLinkActive="nat-gradient-secondary nat-elevation">
                <mat-icon matListItemIcon naturalIcon="build" />
                Other tools
            </a>
        </mat-nav-list>
    </natural-sidenav>
    <natural-sidenav-content>
        <router-outlet />
    </natural-sidenav-content>
</natural-sidenav-container>
