<h1 class="mat-font-headline-lg">CSS style for MatTable</h1>

@for (klass of classes1; track klass) {
    <h2 class="mat-font-headline-sm">{{ klass }}</h2>
    @if (klass === 'natural-align-right') {
        <p class="mat-body"
            >When used with <code>mat-sort-header</code>, it should be combined with
            <code>arrowPosition="before"</code></p
        >
    }

    <table mat-table matSort [dataSource]="dataSource">
        <tr *matHeaderRowDef="columns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: columns" mat-row></tr>

        <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell>Name</th>
            <td *matCellDef="let element; dataSource: dataSource" mat-cell>
                {{ element.name }}
            </td>
        </ng-container>

        <ng-container matColumnDef="value">
            <th *matHeaderCellDef mat-header-cell [class]="klass"><span>A</span><span>B</span><span>C</span></th>
            <td *matCellDef="let element; dataSource: dataSource" mat-cell [class]="klass">
                {{ element.value }}
            </td>
        </ng-container>

        <ng-container matColumnDef="sortable_value">
            <th
                *matHeaderCellDef
                mat-header-cell
                mat-sort-header
                [arrowPosition]="klass === 'natural-align-right' ? 'before' : 'after'"
                [class]="klass"
            >
                <span>A</span><span>B</span><span>C</span></th
            >
            <td *matCellDef="let element; dataSource: dataSource" mat-cell [class]="klass">
                {{ element.value }}
            </td>
        </ng-container>
    </table>
}

@for (klass of classes2; track klass) {
    <h2 class="mat-font-headline-sm">{{ klass }}</h2>

    <table mat-table matSort [dataSource]="dataSource">
        <tr *matHeaderRowDef="columns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: columns" mat-row></tr>

        <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell>Name</th>
            <td *matCellDef="let element; dataSource: dataSource" mat-cell>
                {{ element.name }}
            </td>
        </ng-container>

        <ng-container matColumnDef="value">
            <th *matHeaderCellDef mat-header-cell [class]="klass">V</th>
            <td *matCellDef="let element; dataSource: dataSource" mat-cell> 1 </td>
        </ng-container>

        <ng-container matColumnDef="sortable_value">
            <th *matHeaderCellDef mat-header-cell mat-sort-header [class]="klass">V</th>
            <td *matCellDef="let element; dataSource: dataSource" mat-cell> 1 </td>
        </ng-container>
    </table>
}
